body {
    background-color: #332D2B;
    text-align: center;
    animation: fadeIn ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#title {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    background-color: black;
    color: #6F0B01;
    border-radius: 30px;
    padding: 15px;
}

#grid {
    display: grid;
    /* This is how we take the 64 created divs and make them an 8x8 grid */
    grid-template-columns: repeat(8, 1fr);
    margin: 15px auto;
    border: 1px solid black;
    padding: 20px;
    width: 75%;
    height: 75vh;
    /* this will ensure the image is always lined up beneath the grid */
    background-image: url('https://cdn.pixabay.com/photo/2022/05/24/11/43/home-office-7218315_1280.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grid-item {
    /* background-color: red; */
    padding: 20px;
    text-align: center;
    /* border: 1px solid black; */
    cursor: pointer;
}

dialog {
    background-color: lightgray;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}

.d-title {
    background-color: #6F0B01;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.d-content {
    margin: 5px;
    font-size: 13pt;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.code {
    grid-row: 5;
    grid-column: 6;
    text-align: left;
}

#textbox {
    width: 70px;
    padding: 2px;
    text-align: center;
    border-radius: 15px;
    background-color: darkgrey;
}

#submit-button {
    margin: 3px 0 0 15px;
    border-radius: 15px;
    cursor: pointer;
    background-color: green;
}

::placeholder {
    text-align: center;
}

#scary-image {
    width: 75%;
}

button {
    border-radius: 15px;
    cursor: pointer;
}

#play, #pause {
    background-color: darkgray;
}